@font-face {
    font-family: 'Poppins' ;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

html {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

nav{
   display: flex;
   flex-direction: row;
   justify-content: center; 
   align-items: center;
   padding: 5px 0;
   border-bottom: 2px rgb(0, 0, 0) solid;
}


nav img {
    width: 80px;
}

nav h1 {
    text-transform: uppercase;
    text-justify: center
}

header {
    background-image:url(/assets/header.jpg) ;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: rgb(0, 133, 198) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h2 {
    display: inline-block;
    background-color: white;
    color: black; 
    font-weight: bold;
    margin: 37% 0 0 0;
    text-align: center;
    mix-blend-mode: screen;
}

header p.sous-titre {
    font-size: 1.2em;
}

header div {
    padding: 5px;
    background-color: rgb(226, 226, 226);
    width: 80%;
    border-radius: 10px;
    margin-bottom: 15px;
}

header div a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn {
    width: 70%;
    background-color: rgb(0, 133, 198);
    padding: 10px;
    border-radius: 10px;
}

.btn p {
    text-align: end;
}

.btn img {
    vertical-align: middle;
}
